<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.FirstName}} {{.LastName}}</title>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">

    <!-- Icon -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="./vendor/photoswipe/style.css">
    <link rel="stylesheet" href="./css/style.min.css">

</head>

<body>
    <header>
        <div class="branding">
            <img src="./assets/img/logo.png" alt="" class="logo">
            {{.Slug}}
        </div>
        <nav>
            <ul>
                <li><a title="Linkedin" href="{{.Contacts.Linkedin}}"
                        target="blank"><i class="lab la-linkedin-in"></i></a></li>
                <li><a title="Telegram" href="{{.Contacts.Telegram}}" target="blank"><i
                            class="lab la-telegram"></i></a></li>
                <li><a title="Whatsapp" href="{{.Contacts.Whatsapp}}" target="blank"><i
                            class="lab la-whatsapp"></i></a></li>
                <li><a title="Email" href="{{.Contacts.Email}}" target="blank"><i
                            class="las la-envelope-square"></i></a></li>
                <li><a title="Download PDF" href="{{.Meta.PdfDownloadURL}}" download><i
                            class="las la-download"></i></a></li>
            </ul>
        </nav>
    </header>

    <section id="hero">
        <div class="hero-left">
            <h1>{{.FirstName}} {{.LastName}}</h1>
            <h5>{{.ProfessionalTitle}}</h5>

            {{if or .Profiles .Contributions}} 
                <div class="btn-group">
                    {{range .Profiles}}
                    <a title="{{.Name}}-{{.Username}}" target="_blank" href="{{.URL}}" class="btn">
                            <span class="btn-icon">
                                <i class="{{.Icon}}"></i>
                            </span>
                            <span class="btn-text">
                                {{.Name}}
                            </span>
                        </a>
                    {{end}}

                    {{range .Contributions}}
                    <a title="{{.Name}}" target="_blank" href="{{.URL}}" class="btn">
                            <span class="btn-icon">
                                <i class="{{.Icon}}"></i>
                            </span>
                            <span class="btn-text">
                                {{.Name}}
                            </span>
                        </a>
                    {{end}}
                </div>
            {{end}}

        </div>
        <div class="hero-right">
            <figure class="my-photo">
                <div class="photo-container rounded bordered">
                    <img src="./assets/img/photo.png" alt="Prince Billy Graham Karmoker">
                </div>
                <a target="blank" href="https://www.google.com/search?q=princebillygk">
                    <figcaption>
                        <div></div><i class="las la-user-tag"></i>
                        <div>{{.Slug}}</div>
                    </figcaption>
                </a>

            </figure>
        </div>
    </section>

    <nav class="main-nav" id="mainNav">
        <ul>
            <li><a href="#exp"><span class="symbol"><i class="las la-briefcase"></i></span><span
                        class="text">Experiences</span></a></li>
            <li><a href="#proj"><span class="symbol"><i class="las la-code-branch"></i></span><span
                        class="text">Projects</span></a></li>
            <li><a href="#edu"><span class="symbol"><i class="las la-university"></i></span><span
                        class="text">Education</span></a></li>
            <li><a href="#skill"><span class="symbol"><i class="las la-brain"></i></span><span
                        class="text">Skills</span></a></li>
            <li><a href="#cert"><span class="symbol"><i class="las la-certificate"></i></span><span
                        class="text">Certificates</span></a></li>
        </ul>
    </nav>

    <main>
        {{if .WorkExperiences}}
            <section id="experience">
                <h2>Work Experience</h2>
                <div>
                    {{range .WorkExperiences }}
                    <div class="portfolio-item">
                        <div class="header">
                            <div class="content">
                                <div class="content-logo">
                                    <img src="{{.Organization.Logo}}" alt="{{.Organization.Title}}">
                                </div>
                                <div class="content-description">
                                    <h3>{{.JobTitle}}</h3>
                                    <h5>{{.Organization.Title}}</h5>
                                    {{.Organization.Location}}
                                    <br>
                                    <div class="time-badge">
                                        <div>
                                            <i class="las la-calendar-alt"></i>
                                        </div>
                                        <div class="time">
                                            {{.StartMonth}}, {{.StartYear}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group">
                                <a href="{{.Organization.WebsiteURL}}" class="btn">
                                    <span class="btn-icon">
                                        <i class="lab la-safari"></i>
                                    </span>
                                    <span class="btn-text">
                                        Website
                                    </span>
                                </a>
                                <a href="{{.Organization.LinkedinURL}}" class="btn">
                                    <span class="btn-icon">
                                        <i class="lab la-linkedin-in"></i>
                                    </span>
                                    <span class="btn-text">
                                       Linkedin
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="content">
                            <p>{{.Organization.BriefDescription}}</p>

                            {{if .Responsibilities}}
                                <h4>Responsibilities</h4>
                                <ul class="mc-2-lg list-tick list">
                                    {{range .Responsibilities}}
                                        <li>{{.}}</li>
                                    {{end}}
                                </ul>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
                </div>
            </section>
        {{end}}

        {{if .Projects}}
            <section id="projects">
                <h2>Projects</h2>
                <div>
                    {{range .Projects }}
                    <div class="portfolio-item">
                        <div class="header">
                            <div class="content">
                                <div class="content-logo">
                                    <img src="{{.Logo}}" alt="{{.Title}}">
                                </div>
                                <div class="content-description">
                                    <h3>{{.Title}}</h3>
                                    <h5>{{.ProjectType}}</h5>
                                    {{.Intent}}
                                    <br>
                                    <div class="time-badge">
                                        <div>
                                            <i class="las la-calendar-alt"></i>
                                        </div>
                                        <div class="time">
                                            {{.StartMonth}}, {{.StartYear}} - {{if .EndYear}}{{.EndMonth}}, {{.EndYear}} {{else}} Current {{end}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group">
                                <a href="" class="btn">
                                    <span class="btn-icon">
                                        <i class="lab la-github-alt"></i>
                                    </span>
                                    <span class="btn-text">
                                        Src Code
                                    </span>
                                </a>
                                <a href="{{.AppURL}}" class="btn">
                                    <span class="btn-icon">
                                        <i class="lab la-safari"></i>
                                    </span>
                                    <span class="btn-text">
                                        Website
                                    </span>
                                </a>
                            </div>
                        </div>
                        <p>{{.BriefDescription}}</p>
                        <div class="content">
                            <div class="mt-5 flex-col-grp-lg">
                                {{if .Snapshots}}
                                    <div id="project-lightbox" class="portfolio-gallery flex-col">
                                        {{range .Snapshots}}
                                            <a href="{{.URL}}" data-pswp-width="10000"
                                                data-pswp-height="10000">
                                                <figure>
                                                    <img src="{{.URL}}" alt={{.Caption}}>
                                                    <div class="overlay">
                                                        <figcaption>{{.Caption}}</figcaption>
                                                    </div>
                                                </figure>
                                            </a>
                                        {{end}}
                                    </div>
                                {{end}}
                                {{if .AppliedSkills}}
                                    <div class="flex-col">
                                        <h3>Applied Skills</h3>
                                        <table class="map-table">
                                            {{range .AppliedSkills}}
                                                <tr>
                                                    <th>{{.Type}}</th>
                                                    <td>
                                                        {{ range $index, $element := .Skills}}
                                                            {{if $index}},{{end}}
                                                            {{$element}}
                                                        {{end}}
                                                    </td>
                                                </tr>
                                            {{end}}
                                        </table>
                                    </div>
                                {{end}}
                            </div>

                        </div>
                    </div>
                    {{end}}
                </div>
                </div>

            </section>
        {{end}}
        {{if .Educations}}
            <section id="education">
                <h2>Education</h2>
                <div>
                    {{range .Educations}}
                    <div class="portfolio-item">
                        <div class="header">
                            <div class="content">
                                <div class="content-logo">
                                    <img src="{{.School.Logo}}" alt="{{.School.Name}}">
                                </div>
                                <div class="content-description">
                                    <h3>{{.CourseTitle}}</h3>
                                    <h5>{{.School.Name}}</h5>
                                    {{.School.Location}}
                                    <br>
                                    <div class="time-badge">
                                        <div>
                                            <i class="las la-calendar-alt"></i>
                                        </div>
                                        <div class="time">
                                            {{.StartYear}} - {{if .EndYear}}{{.EndYear}}{{else}}Current{{end}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <table class="map-table">
                                <tr>
                                    <th>{{.Grade.Type}}</th>
                                    <td>{{.Grade.AcquiredScore}} out of {{.Grade.Scale}}</td>
                                </tr>
                                <tr>
                                    <th>Session</th>
                                    <td>{{.Session}}</td>
                                </tr>
                                <tr>
                                    <th>Board</th>
                                    <td>{{.Board}}</td>
                                </tr>
                            </table>

                            {{if .Achievements}}
                                <h4>Achievements</h4>
                                <ul class="mc-2-lg list list-goal">
                                        {{range .Achievements}}
                                            <li>{{.}}</li>
                                        {{end}}
                                </ul>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
                </div>
            </section>
        {{end}}
        {{if .Skills}}
            <section id="skills">
                <h2>Skills</h2>
                <div class="mc-2-md mc-4-lg">
                    {{range .Skills}}
                        <div class="skill-group pb-5">
                            <h3>{{.Type}}</h3>
                            {{if .Skills}}
                                <ul class="list icon-list">
                                    {{range .Skills}}
                                    <li><img src="{{.Icon}}" style="width: 11pt;margin-right:5px;vertical-align:middle;">{{.Name}}</li>
                                    {{end}}
                                </ul>
                            {{end}}
                        </div>
                    {{end}}
                </div>
                </div>
            </section>
        {{end}}

        {{if .Certificates}}
            <section id="certificates">
                <h2>Certificates</h2>
                {{range .Certificates}}
                    <div>
                        <h3 class="mb-5">
                            {{.Type}}
                        </h3>
                        {{if .Certificates}}
                            <div id="certificate-lightbox" class="portfolio-certificates">
                                {{range .Certificates}}
                                <a class="certificate" href="{{.Image}}"
                                        data-pswp-width="10000" data-pswp-height="10000">
                                        <figure class="certificate">
                                            <div class="container">
                                                <img src="{{.Image}}" alt="">
                                            </div>
                                            <figcaption>
                                                <h5>{{.Name}}</h5>
                                                <p class="h6">{{.Provider}}</p>
                                                {{.Year}}
                                            </figcaption>
                                        </figure>
                                    </a>
                                {{end}}
                            </div>
                        {{end}}
                    </div>
                {{end}}

                </div>
            </section>
        {{end}}

        {{if .Interests}}
            <section id="interests">
                <h2>Interests</h2>
                <div>
                    {{range .Interests}}
                        <span class="badge faded">
                            {{.}}
                        </span>
                    {{end}}
                </div>
            </section>
        {{end}}
    </main>

    <!-- <section id="under-construction"> -->
    <!--     <h1> -->
    <!--         <i class="las la-tools"></i> -->
    <!--         Site Under construction -->
    <!--     </h1> -->
    <!--     <div class="prototype"> -->
    <!--         <img src="assets/img/prototype.png" alt=""> -->
    <!--     </div> -->
    <!-- </section> -->

    <button id="moveToTopBtn" class="btn floating-btn">
        <span class="btn-icon">
            <i class="las la-arrow-circle-up"></i>
        </span>
    </button>
    <script type="module">
        import PhotoSwipeLightbox from './vendor/photoswipe/lightbox.js';
        const projLightBox = new PhotoSwipeLightbox({
            gallery: '#project-lightbox',
            children: 'a',
            errorMsg: 'The photo cannot be loaded',
            pswpModule: () => import('./vendor/photoswipe/core.js')
        });
        projLightBox.init();

        const certLightBox = new PhotoSwipeLightbox({
            gallery: '#certificate-lightbox',
            children: 'a',
            errorMsg: 'The photo cannot be loaded',
            pswpModule: () => import('./vendor/photoswipe/core.js')
        });
        certLightBox.init();

    </script>
    <script type="text/javascript" src="./js/index.min.js"></script>
</body>

</html>
