// core
$spacer: 1rem;
$space-values: 0, $spacer * 0.25, $spacer * 5, $spacer, $spacer * 1.5, $spacer * 3;

// color codes
$color-faded-green: rgb(236, 247, 238);
$color-black: rgb(23, 50, 24);
$color-orange: rgb(239, 161, 47);
$color-blue: rgb(19, 124, 167);
$color-choclate: rgb(76, 32, 18);

// fonts
$font-family-title: 'IBM Plex Mono', monospace;
$font-family-regular: 'Lato', sans-serif;
;