@use "sass:math";
@import "../../node_modules/reset-css/reset";
// @import "../../node_modules/normalize.css/normalize";
@import "vars";
@import "mixins";

@import "./lib/common";
@import "./lib/header";
@import "./lib/hero";
@import "./lib/navigation";
@import "./lib/floating-btn";
@import "./lib/card";
@import "./lib/_uc";

@import "./lib/portfolio-item";
@import "./lib/portfolio-gallery";
@import "./lib/portfolio-certificate";
@import "./lib/map-table";

section > h2 {
    padding-bottom: 50px;
}



// Different types of lists
.list-tick {
    list-style: disc inside url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABmJLR0QA/wD/AP+gvaeTAAABPElEQVQokZWRvUuCcRDHPz/NePRRKtOgIqKiaO5l03ANlKK1f6ChglqCKGgoCAeHKGippa01peZ0KqNdoQx6A5GWREx7rsGHJ4VnqNvuuO/nvncH/wzVnITzqTmENZAps3QrShKZ0djFcq8siaAswUwuuS+wYUf1bY1cD6fHQyiOnRYZDm0txIM8nJUH9X7X3VDBu+AAaNiAet4J9abmgyDPJ3X8Ax6K5/flHZTRECCT8qkoLuqUVnXkCxynAV6OvvH3efBcvoLbmABos2heoSteobSiU4p2Unsy6AhouJNvSLs0fADmBLIAWqRGd7xCtQAuzYF+9Q66YRIla00QJQklKgKgzVbpeXTjnP8An/G7kKhEyx/C+eQewqbdpQTZzYzFtlsEAKFcKorIulJMmzZuEJVIj0VTdqA/xQ+JumrecYHWPwAAAABJRU5ErkJggg==");
}
.list-goal {
    list-style: disc inside url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABmJLR0QA/wD/AP+gvaeTAAAB90lEQVQokW2SXUhTcQDFz/9/P5tzwdpWU2IL1rJMUhaVUDkKNKTemvTxkOAIg4166AOiB596Cx+M6AMyip4Kkh5ioRH5oghz2TBwLEHZZnTXipy7d/d/d28Plfmw39vhnJfDOUAdAoG41NoaEf9KAgxR/BfrkDOHB+Mtsj2yVZCaKAiX17X8yqZSmaOYuv/68RAAcP/C0aOx0UGP72qbbbNfaeAMwS7zXaJjl+H50fi1UvOGgu3e5MLHSR4Azh+5FBvw+M4VbLSkde+p9fZ0eilHMXzn+UoqJUuntqNprlA7BAA8AAQle0QilNNPtLH9oRb3sxsPskVi0mW71NDRsbvamalsUyoFCYBFw+F+eQsvNn8SjNLxnoPN48MvF4+tcoGMyRw7VLZ2+cpZb1owii5B9odCFwWayzValBCeUMsyTQvMMKmDCrhVtrmcJmdasP6UJKAAQLPZkarCqkt7dd71fnwm33utz//GwTJTLm7h5PU+30RiutDOeLfC9MVk8iHjAWBeXX3VXXMfEBJpcRbWt77bA0ECgndvp3O2ic/immWqX7TK2MYdSLQr9jTq9p0WCZHTgvHdIhb2MdGpmjVtVFl+8ejD3Qsbd8Ds0syY6typFllV5HXDpmu6lir/nEv8UkaeTN67We8R64TD/XIgEJfqeb8B187AMB3FNdoAAAAASUVORK5CYII=");
}

ul.icon-list {
        list-style-type: none;
    li {
        i {
            margin-right: 5px;
        }
    }
}

.pswp__img {
    width: 100%;
    height: 200%;
    object-fit: contain;
}