@import "../../node_modules/reset-css/reset";
// @import "../../node_modules/normalize.css/normalize";
@import "vars";
@import "mixins";

a {
    text-decoration: none;
}

@for $index from 1 through 6 {
    h#{$index} {
        font-family: $font-family-title;
        margin: 10px 0;
    }
}

h1 {
    color: $color-black;

    font: {
        size: 2em;
        weight: 800;
    }
}

h3 {
    color: $color-orange;
}

.rounded {
    border-radius: 50%;
    overflow: hidden;
}

.bordered {
    @include mat-shadow(2);

    border: {
        style: solid;
        width: 3px;
        color: $color-faded-green;
    }
}

figure.my-photo {
    position: relative;
    display: flex;

    .photo-container {
        width: 300px;
        height: 300px;
    }

    img {
        width: 100%;
        height: 100%;
    }

    figcaption {
        display: flex;
        align-items: center;

        div {
            margin: 0 5px;
        }

        position: absolute;
        top: 230px;
        left: 50%;
        transform: translate(-50%, 0%);

        opacity:0%;

        background-color: $color-blue;
        color: white;

        margin: 20px;
        padding: 10px 10px;

        border-radius: 50px;
        transition: all 500ms ease-in-out 20ms;

        @include mat-shadow(5);

        font: {
            family: $font-family-title;
            size: 10pt;
            weight: 800;
        }
    }

    &:hover figcaption {
        top: 240px;
        opacity: 100%;
    }
}

button,
.button {
    background-color: white;
    color: $color-blue;
    border: none;
    @include mat-shadow(2);
    padding: 10px 20px;
    border-radius: 5px;
    transition: box-shadow 500ms;
    text-transform: uppercase;

    font: {
        family: $font-family-title;
        size: 12pt;
        weight: 800;
    }

    &:hover {
        @include mat-shadow(1);
    }

    &:active {
        background-color: $color-faded-green;
        color: $color-orange;
    }
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 50px;

    nav ul {
        li a {
            display: inline-block;
            padding: 5px;
            border: 2px dotted $color-orange;
            border-radius: 3px;
            color: $color-orange;
            transition: all 400ms ease-in-out;

            &:hover {
                background-color: $color-orange;
                color: white;
                border-color: white
            }

            &:first-child {
                margin-right: 10px;
            }

            &:last-child {
                margin-left: 10px;
            }

            &:not(:first-child, :last-child) {
                margin: 0 10px;
            }
        }

        display: flex;
    }

}

section#hero {
    display: flex;

    flex: {
        wrap: wrap;
    }

    align-items: center;
    justify-content: space-around;
    padding: 20px 50px;
}

nav.main-nav {
    margin-top: 50px;
    box-shadow: 0 38px 38px -2px rgba(0, 0, 0, 0.30);

    ul {
        display: flex;
        justify-content: center;

        li a {
            display: block;
            transition: all 1s ease-in-out;
            padding: 10px;
            color: $color-choclate;
            text-transform: uppercase;

            font: {
                family: $font-family-title;
                weight: 600;
            }

            &:hover {
                @include mat-shadow(5);
                border-radius: 10px 10px 0 0;
                font-weight: 800;
            }

        }
    }

}

section#under-construction{
    text-align: center;
    h1 {
        margin-top: 50px;
        text-transform: uppercase;
        font-size: 32pt;
        border: 2px dotted $color-orange;
    i {
        color: $color-orange;
    }
    color: $color-black;
        display: inline-block;
    }
}